:root {
    --main-bg-color: #FFFFFF;
    --main-bg-color-rgba: rgba(0, 0, 0, .55);
    --nav-bg-color-rgba: rgba(100, 150, 255, .25);
    --main-text-color: white;
    --background-odd: rgba(255,255,255,.25);
    --background-even: #006994;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section, 
article,  
aside, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
nav,
footer {
    padding: 1%;
}

h2 {
    padding-left: 0;
}

body {
    max-width: 100%;
    margin: 0 auto;
}

nav {
    text-align: center;
    width: 50%;
    max-width: 80%;
    display: inline-block;
}

footer {
    text-align: center;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    display: inline;
}

header {
    width: 100%;
    max-width: 90%;
    padding: 1% 5%;
    display: inline-block;
    background-color: black;
}

/* nav styling*/
nav a:hover {
    text-decoration: underline;
    color: white;
}

nav a {
    display: inline-block;
    padding: 1%;
    width: 20%;
    color: white;
    text-decoration: none;
}

nav {
    text-align: center;
}

header h1 {
    text-transform: uppercase;
}

main {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

/* general syling */
a:hover {
    color: red;
}

footer a, main a {
    color: black;
}

cite {
    font-size: xx-small;
}

figure {
    text-align: center;
    width: 100%;
    margin-top: 1em;
}

figcaption {
    padding-bottom: .5em;
}

img {
    max-width: 100%;
}

p {
    padding-bottom: 1em;
}

/* grid layout for header*/
header {
    display: grid;
    grid-template-areas: 
    "logo header nav";
    grid-template-columns: 10% 30% 60%;
}

.logo-image {
    grid-area: logo;
    text-align: center;
}

.logo-image img {
    margin-top:1em;
}

.title, .title a, .title a:hover {
    grid-area: header;
    color: white;
    padding-top: 4%;
    text-decoration: none;
}




.top-nav {
    grid-area: nav;
    text-align: right;
}


/* grid layout for index */
.home {
    display: grid;
    grid-template-areas: 
        "banner banner"
        "page-heading page-heading"
        "section-one section-two" 
        "section-three section-four";
    grid-template-columns: 50% 50%;
    padding: 0;
}

.home-banner {
    grid-area: banner;
    padding: 10% 0 15% 10%;
    margin: 0 0 3% 0;
}

.home-banner h2, .home-banner h3 {
    color: #ffffff;
    text-align: left; 
    animation: 1.5s slide-right; 
}

@keyframes slide-right {
    from {
      margin-left: -100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


.home-banner h2 {
    font-size: 5rem; 
}

.home-banner h3 {
    font-size: 2rem;
}

.home-heading {
    grid-area: page-heading;
    padding: 1% 10%;
    font-size: 2rem;
}

.home p {
    font-size: 1.15em;
}

.home-text-right {
    grid-area: section-two;
    padding: 1% 25% 3% 5%;
}

.home-image-left {
    grid-area: section-one;
    padding: 1% 5% 5% 25%;
}

.home-text-left, .above-table {
    grid-area: section-three;
    padding: 1% 5% 5% 25%;
}

.home-image-right, .table-right {
    grid-area: section-four;
    padding: 1% 25% 3% 5%;
}

.home-text-right-2 {
    grid-area: section-six;
    padding: 1% 25% 3% 5%;
}

.home-image-left-2 {
    grid-area: section-five;
    padding: 1% 5% 1% 25%;
}

.mazda-images {
    display: grid;
    grid-template-areas: 
    "title title title"
    "image-one image-two image-three"
    "image-four image-five image-six";
    grid-template-columns: auto auto auto;
    padding: 0 0 5% 0;
}

.mazda-images h2 {
    grid-area: title;
    padding: 1% 0 2% 5%;
    font-size: 2.5rem; 
}

.mazda-images .mazda-6 {
    grid-area: image-one;
    display: block;
}

.mazda-images .mazda-3 {
    grid-area: image-two;
    display: block;
}

.mazda-images .mx-5 {
    grid-area: image-three;
    display: block;
}

.mazda-images .cx-30 {
    grid-area: image-four;
    display: block;
}

.mazda-images .cx-9 {
    grid-area: image-five;
    display: block;
}

.mazda-images .cx-50 {
    grid-area: image-six;
    display: block;
}

.mazda-6:hover, .mazda-3:hover, .mx-5:hover,
.cx-30:hover, .cx-9:hover, .cx-50:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* grid layout for about */

.details, .array {
    display: grid;
    grid-template-areas:
        "banner banner" 
        "page-heading page-heading"
        "section-one section-two"
        "section-three section-four"
        "section-five section-six";
    grid-template-columns: 50% 50%;
}

.details p, .array p {
    font-size: 1.18em;
}

.array-banner, .about-banner {
    grid-area: banner;
    padding: 5% 5%;
    margin: 0 0 3% 0;  
}

.about-banner h1, .array-banner h1 {
    padding: 3% 5% 8% 5%;
    text-align: left;
    color: white;
    font-size: 3rem;
}
.about-banner h2 {
    padding: 3% 5% 8% 5%;
    text-align: left;
    color: white;
    font-size: 3rem;
}


/* form styling */

form {
    clear: both;
    max-width: 100%;
    margin: auto;
    font-size: large;
}

form p {
    text-indent: 0;
}

fieldset {
    padding: 5%;
    border: none;
}

fieldset.button {
    padding-top: 0;
}
legend {
    margin-top: 1%;
}

label {
    display: block;
}

.radio label,
.checkbox label {
    display: inline;
}

.radio input,
.checkbox input {
    width: initial;
}

.checkbox legend,
.contact legend, 
.textarea legend {
    padding-top: .5em;
}

input {
    width: 90%;
}

textarea {
    width: 100%;
    padding: .5em;
}

select {   
    width: 100%;
}

input[type="text"] {
    padding: .5em;
}

input[type="email"] {
    padding: .5em;
}

select {
    padding: 1em;
}

input[type="submit"] {
    background: rgb(236, 31, 31);
    border: none;
    color: whitesmoke;
    font-size: large;
    padding: 2%;
    width: 100%;  
}

input[type="submit"]:hover {
    background: rgb(148, 18, 18);
}

.mistake {
    font-size: 1.25rem;
    padding-top: 1%;
}
/* form grid layout */

#form main {
    display: grid;
    grid-template-areas: 
    "header header header"
    "form form form";
    grid-template-columns: 20% 60% 20%;
}

#form .form-banner {
    grid-area: header;
    padding: 5% 5%;
}

#form .actual-form {
    grid-area: form;
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
}

#form .actual-form h2 {
    padding: 5%;
}

#form .form-banner h2 {
    padding: 3% 5% 8% 5%;
    text-align: left;
    color: white;
    font-size: 3rem;
}

/* table styling */
table {
    border: medium solid white;
    border-collapse: collapse;
    max-width: 100%;
    margin: auto;
}

td,
th {
    border: thin solid white;
    padding: .5em;
}

caption {
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* css classes */

.home-banner {
    background: 
    linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
    ), 
    url(../images/miata_home_header.JPG);
    background-size: cover;
    background-position: center;  
}

.form-banner {
    background: 
    linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
    ),
    url(../images/miata_form_header.JPG);
    background-size: cover;
    background-position: center;   
}

.about-banner {
    background: 
    linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
    ),
    url(../images/miata_about_header.jpg);
    background-size: cover;
    background-position: center; 
}

.array-banner {
    background: 
    linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
    ),
    url(../images/miata_array_header.JPG);
    background-size: cover;
    background-position: top; 
}

.main {
    width:90%;
    max-width: 1em;
}

.activePage {
    text-decoration: underline;
}